body {
  font-family: "Georgia", serif;
}

#heading {
  background-color: #007acc;
  height: 100px;
  text-align: left;
}

nav {
  float: left;
  width: 0;
  background:#f1f1f1;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

 .topnav a {
  float: left;
  display: block;
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #40bf40;
  color: white;
}

h1.home {
  color: #ffffff;
  margin: auto;
  padding-left: 30px;
  padding-top: 30px;
}

#mission {
  line-height: 150%;
  color: #636363;
  padding-left: 100px;
  padding-right: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
